
img {
    width: 20%;
    /*border-radius:10px;*/
    /*margin-right: 10px*/
    object-fit: cover;
    }
/*p {

}*/
.name {
    font-weight: bold;
}
.top {
    font-weight: bold;
    background-color: red;
    justify-content: space-between;
    position: static;
    top: 10px;
    width: 100%;
}
.front {
}
.rightimage {
    float: right;
}
.leftcaption {
    float: left;
    width: 80%;
    height: 250px
}
.skilllist {
    list-style-type: none;
    column-count: 5;
}
.contacts {
    list-style-type: none;
    column-count: 3;
}
.bottom {
    background-color: red;
    position: static;
    bottom: 0px;
    width: 100%;

}